.content__container {
    background-color: var(--green-bland-colour);

    display: flex;
    justify-content: space-around;
    padding: 4rem;
    height: 70vh;
    margin-top: -150px;
}

.content__container>img {
    object-fit: cover;
    box-shadow: 0 20px 40px -10px #818181;
    max-height: 100%;
}


.content__description {
    width: 80%;
    padding: 30px;
    display: grid;
    justify-content: center;
    color: #565656;
}

.content__description>h1 {
    text-align: center;
    font-weight: bold;
}

.content__description>p {
    width: 90%;
    padding-top: 4rem;
    text-align: justify;
    margin: 0 auto;

}

.content__button {
    margin-top: 3rem;
}

.content__wave {
    height: 150px;
    overflow: hidden;
}

.content__wave svg {
    height: 100%;
    width: 100%;
}

.content__wave svg path {
    stroke: none;
    fill: var(--green-bland-colour);
}

@media only screen and (max-width: 1000px) {

    .content__description {
        padding: 0px;
        margin-left: 50px;
    }


    .content__description>p {
        width: 100%;
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 900px) {

    .content__container {
        height: auto;
        padding: 1rem;
    }

    .content__container img {
        display: none;
        visibility: hidden;
    }

    .content__description {
        margin: 90px 0 0 0;
    }
}