.content__container {
    background-color: var(--green-bland-colour);
    display: flex;
    padding: 4rem;
    width: 100%;
    height: auto;
    margin-top: -150px;
}

.content__image {
    overflow: hidden;
}

.content__image>img {
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    transition: all 0.2s linear
}

/* .content__image>img:hover {
    transform: scale(1.1);
} */


.content__description {
    height: auto;
    padding: 30px;
    display: grid;
    justify-content: center;
    color: #565656;

}

.content__description>h1 {
    font-weight: bold;
    width: 70%;
    font-size: 32px;
    text-transform: uppercase;
    border: 3px solid var(--gold-colour);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
}

.content__description>h2 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.content__line {
    width: 10%;
    margin: 20px auto;

}

.content__line>hr {
    margin-top: 5px;
    color: var(--gold-colour);
}

.content__description>p {
    width: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
}

.content__button {
    margin-top: 2rem;
}

.content__wave {
    height: 150px;
    overflow: hidden;
}

.content__wave svg {
    height: 100%;
    width: 100%;
}

.content__wave svg path {
    stroke: none;
    fill: var(--green-bland-colour);
}

@media only screen and (max-width: 1000px) {

    .content__description {
        padding: 0px;
        margin-left: 50px;
    }


    .content__description>p {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {

    .content__container {
        height: 100vh;
        padding: 1rem;
    }

    .content__image {
        display: none;
        visibility: hidden;
    }

    .content__description {
        margin: 90px 0 0 0;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .content__container {
        height: 130vh;
    }

    .content__description>h1 {
        width: 90%;
    }
}