.content__container {
    background-color: #BAFFC5;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    height: 70vh;
    margin-top: -150px;
}

.content__container>img {
    object-fit: cover;
    box-shadow: 0 20px 40px -10px #818181;
    max-height: 100%;
}

.content__description {
    width: 70%;
    /* box-shadow: 0 20px 40px -10px #818181; */
    padding: 50px;
    /* background-color: #EFF7FF;
    border-right: 4px solid #12C93D;
    border-bottom: 4px solid #12C93D; */
}



.content__description>h1 {
    font-weight: bold;
}

.content__description>p {
    width: 80%;
    padding-top: 4rem;
    text-align: justify;
    margin: 0 auto;

}

.content__wave {
    height: 150px;
    overflow: hidden;
}

.content__wave svg {
    height: 100%;
    width: 100%;
}

.content__wave svg path {
    stroke: none;
    fill: #BAFFC5;
}

@media only screen and (max-width: 1000px) {

    .content__description {
        padding: 0px;
        margin-left: 50px;
    }


    .content__description>p {
        width: 100%;
        padding-top: 3rem;
    }
}