.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn__mobile {
  text-decoration: none;
  margin: 0 auto;
}

.btn--primary {
  background-color: var(--white-colour);
  color: #242424;
  border: 1px solid var(--white-colour);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--white-colour);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  transition: all 0.3s ease-out;

}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
  transition: all 0.3s ease-out;

}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--gold-colour);
  color: #242424;
}

.btn--center {
  margin: 0 auto;
}