.services__item {
    margin: 25px;
    width: 400px;
}

.services__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.services__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.services__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
    border-radius: 5px;
}

.services__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.services__item__img:hover {
    transform: scale(1.1);
}

.services__imageNone {
    flex-shrink: 0;
    margin-right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('https://unsplash.it/200/200') no-repeat;
    background-size: cover;
}

.services__item__info {
    padding: 20px 30px;
    background-color: var(--green-bland-colour);
    min-height: 140px;
    display: flex;
    align-items: center;
}

.services__item__info>p {
    color: var(--grey-colour);
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 500px) {

    .services__item__info {
        padding: 10px;
        min-height: 120px;
    }

    .services__item__info>p {
        font-size: 17px;
    }
}