.cards {
    width: 100%;
    padding: 5rem 2rem;
    background-color: var(--white-colour);
    /* margin-top: -150px; */
}

.cards>h1 {
    margin: 0 auto;
}

.cards__container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* flex-direction: row; */
    /* flex-flow: row wrap; */
}

@media screen and (max-width: 400px) {
    .cards {
        padding: 2rem 1rem;

    }
}