.cards {
    width: 100%;
    padding: 6rem 2rem;
    background-color: var(--white-colour);
    margin-top: -150px;
}

.cards>h1 {
    text-align: center;
    color: #565656;
    padding: 3rem 1rem;
}

.cards__container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* flex-direction: row; */
    /* flex-flow: row wrap; */
}



/* @media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

/* @media only screen and (min-width: 1024px) {
    .cards__items {
        display: flex;
    }
} */
/*
@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
} */