:root {
    --white-colour: #fff;
    --black-colour: #000;
    --gold-colour: #BB9A5E;
    --grey-colour: #2b2a2a;
    --green-flashy-colour: #12C93D;
    --green-bland-colour: #BAFFC5;
    --text-colour: #565656;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;

}