.map {
    min-height: 60vh;
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 50px;
    padding: 50px 0;
}


@media (max-width: 850px) {

    .map {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr;
    }
}