.benefits__container {
    width: 100%;
    min-height: 120px;
    background-color: var(--grey-colour);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.benefits__wave {
    height: 150px;
    overflow: hidden;
}

.benefits__wave svg {
    height: 100%;
    width: 100%;
}

.benefits__wave svg path {
    stroke: none;
    fill: var(--grey-colour);
}