.banner__container {
    background: rgba(43, 42, 42, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    color: #fff;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 2px;
    margin: 0 2rem;
}


.banner__wrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;

}

.banner__container>h1 {
    font-size: 60px;
    margin: 25px 20px;
    text-transform: uppercase;

}

.banner__container>h2 {
    font-size: 40px;
    margin: 0px 20px;

}


@media screen and (max-width: 960px) {
    .banner__container>h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .banner__container>h1 {
        font-size: 50px;
    }

    .banner__container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

}

@media screen and (max-width: 400px) {
    .banner__wrapper {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }


}