.benefits__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: var(--gold-colour);
    text-align: center;
}

.benefits__item i {
    margin-right: 10px;
    color: var(--green-flashy-colour)
}

.benefits__item h1 {
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
    .benefits__item h1 {
        font-size: 24px;
    }
}